@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root{
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
}

body{
    font-family: 'Outfit', sans-serif;
    background-color: hsl(217, 54%, 11%);
    margin: 0;
    font-size: 1.125rem;
    color: var(--soft-blue);
    justify-content: center;
    min-height: 100vh;
}

.row{
    display: flex;
    flex-direction: row;
}

.split-items{
    justify-content: space-between;
}

.vertical-center-items{
    align-items: center;
}

.border-rad{
    border-radius: 15px;
}

.white-txt{
    color: white;
}

.white-txt:hover{
    transition: color .5s;
    color: var(--cyan);
    cursor: pointer;
}

.block{
    display: block;
}

#card{
    width: min(450px, 80%);
    padding: 25px;
    background-color: hsl(216, 50%, 16%);
    scale: .8;
    opacity: 0;
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn{
    to{
        opacity: 1;
        scale: 1;
    }
}

@media only screen and (max-width: 560px){
    #card{
        padding: 4.5%;
    }
}

#img-main{
    position: relative;

}

#img-view{
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity .5s ease;
    background-color: hsla(178, 100%, 50%, 50%);
}

#img-view img{
    transition: scale .5s;
    position: absolute;
    inset: 50% 0 0 50%;
    translate: -50% -50%;
}

#img-view:hover img{
    scale: 1.5;
}

#img-view:hover{
    opacity: 1;
}

#price{
    color: var(--cyan);
}

.icon-text{
    gap: 6px;
}

.icon-text img{
    height: 1.3rem;
}

#creator{
    padding-top: 20px;
    border-top: 1px solid hsl(215, 32%, 27%);
    gap: 15px;
}

#creator img{
    height: 3rem;
    border-radius: 100%;
    border: 2px solid white;
}